.container{
    width: 80%;
    margin: auto;
    text-align: center;
}

.container h1{
    margin-bottom: 3rem;
}

.container .card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

p{
    font-size: 1rem;
}

.icon{    
    width: 25px;
    height: 25px;
}